.company-guarantees {
    // border: solid black;

    top: 0;
    width: 100%;

    .container {

        border-top: solid $color-light-4;
        max-width: 1400px;
        display: grid;
        justify-content: center;


        .guarantee-box-body {
            padding-top: 15px;
            // border: solid black;
            max-width: 250px;
            text-align: center;

            .guarantee-box-icon {
                // border: solid black;
                @include content-center;

                .guarantee-icon {
                    display: inline-block;
                    height: 50px;
                    width: 50px;
                    // border: solid black;
                    @include content-center;
                    @include default-colors;
                    border-radius: 50%;
                    box-shadow: 0 9px 5px -2px $color-shadow-1;
                    // @include content-center;
                }

            }


            .box-header {
                color: $color-dark-1;
                margin-top: 10px;
                font-size: 17px;
                font-weight: 700;
                // border: solid black;
            }

            .box-secondary-text {
                color: $color-dark-1;

            }

        }


        @include lg {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: center;
            align-items: center;

            .guarantee-box-body {
                max-width: 100%;
                padding-left: 3.2rem;
                padding-right: 3.2rem;


            }



        }



    }



}