header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $bg-transparent-light-1;
    box-shadow: 0 0 2px 1px $color-shadow-1;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "logotype toggleicon"
            "menus menus";


        .logotype {
            grid-area: logotype;
            font-size: 2.188em;
            font-weight: 700;
            color: $color-dark-2;
            text-decoration: none;

            &:hover {
                color: $color-dark-2;
                text-decoration: none;
            }


        }

        .toggle-icon {
            grid-area: toggleicon;
            display: flex;
            justify-self: flex-end;
            align-self: center;

            i {}
        }

        .menus {
            grid-area: menus;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "menulinks"
                "menuicons";

            .menu-links {
                grid-area: menulinks;
                font-size: 1.1em;

                a {
                    color: $color-dark-2;
                    text-decoration: none;
                    display: block;
                    font-weight: 500;
                    margin: 15px 12px;
                    transition: color 0.15s;

                    &:hover {
                        color: $color-theme;
                        text-decoration: none;
                    }
                }
            }

            .menu-icons {
                grid-area: menuicons;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;


            }
        }
    }
}

@include lg {
    header {
        .container {
            grid-template-columns: 1fr 2fr;
            grid-template-areas: "logotype menus";

            .toggle-icon {
                display: none;
    
                i {}
            }

            .menus {
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "menulinks menuicons";


                .menu-links {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .menu-icons {
                    grid-area: menuicons;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin-top: 0;
    
    
                }

            }



        }
    }

}