.offers {
    margin-top: 40px;

    .btn-secondary {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .container {
        width: 100%;
        max-width: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "discountbox";
    }

    .office-style {

        img {
            display: none;

        }
    }

    .discount-box {
        grid-area: discountbox;
        background-color: $color-light-2;
        padding: 20px;
        @include content-center;

        .discount-box-body {
            text-align: center;
            border: 10px solid $color-theme;
            padding: 10px;

            .title-2 {
                // font-size: 1.2rem;
                @include font-title-2;
                font-weight: $font-weight-bold;
                margin-top: 1rem;
            }

            .text {
                margin-top: -0.5rem;
            }
        }
    }

    .party-style {

        img {
            display: none;
        }
    }
}



@include md {
    .offers {
        .discount-box {
            margin-left: 3rem;
            margin-right: 3rem;

        }
    }

}



@include lg {

    .offers {
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "officestyle discountbox partystyle";
            gap: 20px;
        }

        .office-style {
            grid-area: officestyle;

            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .discount-box {
            margin-left: 0rem;
            margin-right: 0rem;
            grid-area: discountbox;

            .discount-box-body {

                .title-2 {
                    @include font-title-2;
                }
            }
        }

        .party-style {
            grid-area: partystyle;

            img {
                display: block;
                width: 100%;
                height: 100%;
            }

        }
    }
}