.offers {
    margin-top: 40px;
    // border: 1px solid black;

    .btn-secondary {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    // .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "discountbox";
    // border: 1px solid black;

    // }

    .office-style {
        // border: 1px solid rosybrown;

        img {
            display: none;
            // height: 100%;
            // width: auto;
            // object-fit: cover;
        }
    }

    .discount-box {
        // border: 1px solid black;

        grid-area: discountbox;
        background-color: $color-light-2;
        padding: 20px;
        @include content-center;

        .discount-box-body {
            text-align: center;
            border: 10px solid $color-theme;
            padding: 10px;

            // padding: 20px;


            .title {
                @include font-title-3;
                font-weight: $font-weight-bold;
                margin-top: 1rem;
                // margin-bottom: 1rem;

            }

            .text{
                margin-top: -1rem;

            }
        }
    }

    .party-style {

        // border: 1px solid rosybrown;
        img {
            display: none;
            // height: 100%;
            // width: auto;
            // object-fit: cover;
        }
    }
}

@include lg {

    .offers {
        // .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "officestyle discountbox partystyle";
        flex-direction: column;
        gap: 20px;
        // }

        .office-style {
            grid-area: officestyle;

            img {
                display: block;
                width: 100%;
                height: 100%;
                // object-fit: cover;
            }

        }

        .discount-box {
            grid-area: discountbox;


            .discount-box-body {

                .title {

                    @include font-title-2;
                }
            }
        }

        .party-style {
            grid-area: partystyle;


            img {
                display: block;
                width: 100%;
                height: 100%;
                // object-fit: cover;

            }

        }




    }

}